- @articles.each do |article|
  .body
    %h2.title
      タイトル:#{article.title}
      %br/
    %p.text
      = article.text
      %br/
    %p.menu
      = link_to "/articles/#{article.id}", method: :get do
        %i.medium.material-icons message
      - if user_signed_in? && current_user.id == article.user.id
        = link_to "/articles/#{article.id}/edit", method: :get do
          %i.medium.material-icons border_color
        = link_to "/articles/#{article.id}", method: :delete do
          %i.medium.material-icons bug_report
    %hr/


