.article
  .article__title
    = simple_format(@article.title)
  .article__text
    = simple_format(@article.text)
  %span.name
    %span 投稿者
    = @article.user.name
  - if user_signed_in? && current_user.id == @article.user_id
    .menu
      .edit
        = link_to "/articles/#{@article.id}/edit", method: :get do
          %i.medium.material-icons border_color
      .delete
        = link_to "/articles/#{@article.id}", method: :delete do
          %i.medium.material-icons bug_report

.container
  / ここからフォーム
  = form_with url: "/articles/#{@article.id}/comments" do |f|
    お名前をぜひ…
    = f.text_field :name
    言いたいことがあれば…
    = f.text_area :text
    = f.submit "喧嘩売る"

  .comments
    %h4 コメント一蘭
    - if @comments
      - @comments.each do |comment|
        %p.name 〓コメントした人:#{comment.name}
        %p.text #{comment.text}<br><br>
