
    <% if user_signed_in? && current_user.id == @article.user_id %>
      <ul class="more_list">
        <li>
          <%= link_to '編集', "/articles/#{@article.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to '削除', "/articles/#{@article.id}", method: :delete %>
        </li>
      </ul>
    </div>
    <% end %>
    <%= simple_format(@article.text) %>
    <span class="name">

        <span>投稿者</span><%= @article.user.name %>

    </span>
  </div>
  <div class="container">
    <!-- ここからフォーム -->

      <%= form_tag("/articles/#{@article.id}/comments", method: :post) do %>
        <input placeholder="なまえ" type="string" name="name">
        <textarea name="text" cols="30" placeholder="コメントする" rows="2"></textarea>
        <input type="submit" value="しんだ">
      <% end %>

    <div class="comments">
      <h4>コメント一蘭</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            コメントした人<%= comment.name %>
            コメントの中身<%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>


