<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="header-box">
        <h1 class="title">BLOG</h1>
      </div>
    </div>

    <div class="contents">
      <div class="content-box">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
